<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750750349957-99jaf3h1lcdr9j5n0sojb3tog0bmv2hd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750750349957-99jaf3h1lcdr9j5n0sojb3tog0bmv2hd</string>
	<key>API_KEY</key>
	<string>AIzaSyC12txyg-0S0e6YuL_VR00-rLHMfBZSPRE</string>
	<key>GCM_SENDER_ID</key>
	<string>750750349957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jonathonbuhler.StarFeed</string>
	<key>PROJECT_ID</key>
	<string>starfeed-45426</string>
	<key>STORAGE_BUCKET</key>
	<string>starfeed-45426.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:750750349957:ios:a35ca89dd44f359f3947ec</string>
</dict>
</plist>
